In [117]:
import pandas as pd

In [118]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [119]:
input = df[['company','job','degree']]
input.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [120]:
target = df[['salary_more_then_100k']]
target.head()

   salary_more_then_100k
0                      0
1                      0
2                      1
3                      1
4                      0

In [121]:
from sklearn.preprocessing import LabelEncoder
company_le = LabelEncoder()
job_le = LabelEncoder()
degree_le = LabelEncoder()

In [122]:
input['new_company'] = company_le.fit_transform(input.company)
# input.company = company_le.fit_transform(input.company) // another way 
input['new_job'] = company_le.fit_transform(input.job)
input['new_degree'] = company_le.fit_transform(input.degree)
input.head()

  company                  job     degree  new_company  new_job  new_degree
0  google      sales executive  bachelors            2        2           0
1  google      sales executive    masters            2        2           1
2  google     business manager  bachelors            2        0           0
3  google     business manager    masters            2        0           1
4  google  computer programmer  bachelors            2        1           0

In [123]:
new_input = input.drop(['company','job','degree'],axis='columns')
new_input.head(3)

   new_company  new_job  new_degree
0            2        2           0
1            2        2           1
2            2        0           0

In [124]:
target.head(3)

   salary_more_then_100k
0                      0
1                      0
2                      1

In [125]:
from sklearn.tree import DecisionTreeClassifier
de = DecisionTreeClassifier()

In [126]:
de.fit(new_input,target)

DecisionTreeClassifier()

In [127]:
de.predict([[2,1,0]])

c:\Users\tahur\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [128]:
de.predict([[2,1,1]])

c:\Users\tahur\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

<!--------------------- -----------ANOTHER EXAMPLE----------------------- -->

In [129]:
# ---------------------ANOTHER EXAMPLE ---------------------

<!-- ------------------------------ANOTHER EXAMPLEE-------------- -->

In [130]:
import pandas as pd

In [131]:
titanic_df = pd.read_csv('titanic.csv')
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [132]:
new_titanic = titanic_df[['Pclass','Sex','Age']]
new_titanic.head()

   Pclass     Sex   Age
0       3    male  22.0
1       1  female  38.0
2       3  female  26.0
3       1  female  35.0
4       3    male  35.0

In [133]:
target = titanic_df.Survived
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [134]:
from sklearn.preprocessing import LabelEncoder
reg = LabelEncoder()

In [135]:
new_titanic.Sex = reg.fit_transform(new_titanic.Sex)
new_titanic.head()

C:\Users\tahur\AppData\Local\Temp\ipykernel_71088\3078233274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_titanic.Sex = reg.fit_transform(new_titanic.Sex)

   Pclass  Sex   Age
0       3    1  22.0
1       1    0  38.0
2       3    0  26.0
3       1    0  35.0
4       3    1  35.0

In [136]:
new_titanic.Age = new_titanic.Age.fillna(new_titanic.Age.mean())
new_titanic.head()

C:\Users\tahur\AppData\Local\Temp\ipykernel_71088\2112217064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_titanic.Age = new_titanic.Age.fillna(new_titanic.Age.mean())

   Pclass  Sex   Age
0       3    1  22.0
1       1    0  38.0
2       3    0  26.0
3       1    0  35.0
4       3    1  35.0

In [137]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [138]:
model.fit(new_titanic,target)

DecisionTreeClassifier()

In [139]:
model.score(new_titanic,target)

0.8799102132435466