In [260]:
import pandas as pd

In [261]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [262]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [263]:
input = df.drop('Survived',axis='columns')
target = df.Survived

In [264]:
input.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [265]:
# from sklearn.preprocessing import LabelEncoder
# le =LabelEncoder()

In [266]:
dummies = pd.get_dummies(input.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [267]:
input = pd.concat([input,dummies],axis='columns')
input.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [268]:

# I am dropping male column as well because of dummy variable trap theory. One column is enough to repressent male vs female

input.drop(['Sex','male'],axis='columns',inplace=True)
input.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True

In [269]:
input.columns[input.isna().any()]
# kono column value null ase kina dekhar jnno

Index(['Age'], dtype='object')

In [270]:
input.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [271]:
input.Age = input.Age.fillna(input.Age.mean())
input.head(10)

   Pclass        Age     Fare  female
0       3  22.000000   7.2500   False
1       1  38.000000  71.2833    True
2       3  26.000000   7.9250    True
3       1  35.000000  53.1000    True
4       3  35.000000   8.0500   False
5       3  29.699118   8.4583   False
6       1  54.000000  51.8625   False
7       3   2.000000  21.0750   False
8       3  27.000000  11.1333    True
9       2  14.000000  30.0708    True

In [272]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(input,target,test_size=0.3)

In [273]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [274]:
model.fit(X_train,y_train)

GaussianNB()

In [275]:
model.score(X_test,y_test)

0.7835820895522388

In [276]:
y_test[0:10]

165    1
211    1
634    0
755    1
230    1
293    0
200    0
403    0
779    1
763    1
Name: Survived, dtype: int64

In [277]:

model.predict_proba(X_test[:10])

array([[9.51389023e-01, 4.86109769e-02],
       [2.63474300e-01, 7.36525700e-01],
       [3.30706789e-01, 6.69293211e-01],
       [8.86787314e-01, 1.13212686e-01],
       [1.66381020e-02, 9.83361898e-01],
       [3.98188870e-01, 6.01811130e-01],
       [9.63184563e-01, 3.68154371e-02],
       [9.63772913e-01, 3.62270869e-02],
       [1.84927674e-08, 9.99999982e-01],
       [1.30744058e-03, 9.98692559e-01]])

In [278]:

# Calculate the score using cross validation

from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.784     , 0.768     , 0.768     , 0.77419355, 0.79032258])